/* Add a linear-gradient background to the .table rule */
.table {
    background: linear-gradient(to bottom, forestgreen, darkgreen);
    width: 100%; /* Adjust the width as needed */
    height: 520px; /* Adjust the height as needed */
    position: relative;
    overflow: hidden; /* Hide overflow */
  }
  
  /* Add a border-radius property and a black box-shadow property to the .card rule */
  .card {
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
    width: 150px; /* Adjust the width as needed */
    height: 220px; /* Adjust the height as needed */
    text-align: center;
    font-size: 24px;
    background-color: white;
    position: absolute;
  }
  
  /* Position the .cardTop rule */
  .cardTop {
    left: 100px;
    top: 100px;
    display: flex;align-items: center;justify-content: center;

    z-index: 2; /* Ensure it's on top */
  }
  
  /* Position the .cardBottom rule */
  .cardBottom {
    left: 240px;
    top: 120px;
    z-index: 1;
    color: red;
    display: flex;align-items: center;justify-content: center;
    /* Lower z-index to keep it beneath the top card */
  }
  
  /* Position the .topLeft selector */
  .topLeft {
    position: absolute;
    left: 2px;
    top: 2px;
  }
  
  /* Position the .bottomRight selector */
  .bottomRight {
    position: absolute;
    right: 2px;
    bottom: 2px;
  }
  